<head>
    
<script crossorigin="anonymous">
    //replace nojs class with js on html element
    (function(html){
    html.className = html.className.replace(/\bnojs\b/,'js')
    })(document.documentElement);
    </script>
    
    
    
    
    
    <link data-srs="" rel="stylesheet" href="https://store.storeimages.cdn-apple.com/8756/store.apple.com/static-resources/rs-external-1.61.0-5cadd/rel/tw/external.css" media="screen, print">
    <link data-srs="" rel="stylesheet" href="https://store.storeimages.cdn-apple.com/8756/store.apple.com/static-resources/rs-vendor-1.24.0-a7250/dist/common-css@1.0.7/dist/common.css" media="screen, print">
    <link data-srs="" rel="stylesheet" href="https://store.storeimages.cdn-apple.com/8756/store.apple.com/static-resources/rs-ipad-4.32.2-3f2d5/dist/step1evolution.css" media="screen, print">
    
    <link data-srs="" rel="stylesheet" href="https://www.apple.com/wss/fonts?families=SF+Pro+TC,v1:400,600|SF+Pro+Text,v3:400,600|SF+Pro+Display,v3:500|SF+Pro+Icons,v3|Apple+Monochrome+Emoji,v3|Apple+Monochrome+Emoji+Ind,v2|MHei,v1">
    
    
    
</head>

<div id="root" data-analytics-no-activitymap="" class="rs-root-reveal">
    
    <div class="rf-bfe">
        <div class="rf-bfe-header-wrapper rf-bfe-header-content-withdimensionselected">
            <div class="rf-bfe-header">
                <div data-autom="bfe-header"><span class="badge badge-no-scrim">全新</span>
                    <h1 class="fwl">購買 {{item.name}}</h1>
                </div>
                
                <div class="rf-bfe-header-price-wrapper">
                    <div data-core-fade-transition-wrapper="" class="rf-bfe-header-price r-fade-transition-exit-done" data-autom="headerPrice">
                        <div class="rc-prices rc-prices-default typography-label">
                            <div class="rc-price">
                                <div class="rc-prices-currentprice typography-label"><span class="rc-prices-fullprice" data-autom="full-price">NT${{item.price}}</span></div>
                            </div>
                            <div class="rc-prices-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="rf-bfe-main row">
            <div class="rf-bfe-column-left">
                <div class="rf-bfe-gallery-container">
                    <div class="rf-bfe-gallery-wrapper" style="--gallery-height: 588px; --gallery-width: 592px;">
                        <div data-core-fade-transition-wrapper="" class="rf-bfe-gallery-section r-fade-transition-enter-done">
                            <div class="rc-inline-gallery rf-bfe-gallery">
                                <div id=":r1n:" data-core-gallery="true" data-core-gallery-fade="false">
                                    <div data-core-gallery-scroller="true" style="transform: translateX(0px); width: 100%; inset-inline-start: 0%; transition: none 0s ease 0s;">
                                        <div id=":r1n:-gallery-item-0" data-core-gallery-item="true" aria-hidden="false" class="rc-inline-gallery-item">
                                            <div class="rf-bfe-gallery-item">
                                                <div class="rf-bfe-gallery-content" data-autom="">
                                                    <div class="rf-bfe-gallery-image-wrapper">
                                                        <img width="2560" height="1440" alt="{{item.name}}" class="rf-bfe-gallery-image" data-autom="galleryImage0" src="{{item.image}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-core-fade-transition-wrapper="" class="rf-bfe-gallery-section r-fade-transition-exit-done" aria-hidden="true"></div>
                    </div>
                </div>
            </div>
            <div class="rf-bfe-column-right">
                <div class="rf-bfe-selectionarea" data-analytics-region="selectionarea">
                    <div class="rf-bfe-summary" data-analytics-section="summary" data-analytics-region="summary" data-observer-key="summary" data-step-enabled="true">
                        <div class="rf-bfe-summary-section">
                            <div class="rf-bfe-summary-price-content">
                                <div class="rc-prices rc-prices-default typography-label">
                                    <div class="rc-price">
                                        <div class="rc-prices-currentprice typography-label"><span class="rc-prices-fullprice" data-autom="full-price">NT$ {{item.price}}</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="rf-bfe-summary-border"></div>
                            <div class="rf-bfe-summary-titlesection">
                                <div data-autom="summaryProductTitle" class="rf-bfe-summary-producttitle">{{item.name}}</div>
                            </div>
                            <div class="rf-bfe-summary-button-box">
                                <div class="rc-summary-button" data-core-disabled="false">
                                    <div class="rc-summary-button"><span class="">



    

        <div class="as-purchaseinfo-button">

<span class="add-to-cart ">



    <a href="/buy" class="button button-block" data-analytics-title="加入購物袋" data-autom="add-to-cart">
        <button type="button" class="button button-block">
            <span class="label"><b>立即購買!!!</b></span>
        </button>
    </a>